body {
	font-family: 'Lato', sans-serif;
	color: rgba(0,0,0,0.77);
	background-color: white;
  font-size: 16px;
  line-height: 1.6;
}

.thumb-text {
  padding-left: 50px;
  padding-right: 50px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #555;
}

.half-landing-page {
  width: 600px;
}

.with-border {
  width: 550px;
  margin-top: 20px
}

.case-study .row {
  margin-top: 20px;
  margin-bottom: 80px;
  text-align: center;
}

.main-heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 30px;
  margin-top: 50px;
  font-family: "Graphik Web", Helvetica, Arial, serif;
}

.page-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Graphik Web", Helvetica, Arial, serif;
}

.sub-heading {
  font-size: 24px;
  margin-bottom: 40px;
}

.second-heading {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: "Graphik Web", Helvetica, Arial, serif
}

.cblue {
  color: #065b89;
}

.cblue-dark {
  color: #05416b;
}

.cblue-light {
  color: #0c82ba;
}

.navbar-default {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: white;
	color: #333;
	border-color: white;
  font-size: 16px;
  font-family: "Graphik Web", Helvetica, Arial, serif;
  font-weight: 700;
}

.navbar-brand {
  padding-left: 0px;
  margin-left: 0px;
}

.navbar-default .navbar-brand:hover, 
.navbar-brand:focus {
  background-color: transparent;
  color: #0e9c83;
}

.navbar-default .navbar-brand {
	color: #333;
}

.navbar-default .navbar-nav>li>a {
	color: #333;
}

.navbar-default .navbar-nav > .active {
  color: #0e9c83;
  background: white;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #0e9c83;
  background: white;
}

a {
  color: #4479a5;
}

a:hover {
  color: #0e9c83;
  text-decoration: none;
}

.green {
  color: #0e9c83;
}

.blue {
  color: #0c82ba;
}

.profile-image {
  height: 125px;
  width: 125px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cl-effect-3 a {
  padding: 2px 0;
}

.cl-effect-3 a::after {
  position: absolute;
  top: 75%;
  left: 10%;
  width: 80%;
  height: 4px;
  background: #333;
  content: '';
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
  opacity: 1;
  transform: translateY(0px);
}

.hovereffect:hover img {
  opacity: 0.4;
  background-color: #09947c;
}

.main-bio img {
  text-align: center;
}

.underlined {
  display: inline-block;
  padding-bottom: 3px;
  position: relative;
  text-align: center;
  font-size: 22px;
}

.underlined:before {
  content: "";
  position: absolute;
  width: 70%;
  bottom: 5px;
  left: 0;
  border-bottom: 4px solid #0e9c83;
}

.underlined-main {
  display: inline-block;
  padding-bottom: 8px;
  position: relative;
  text-align: center;
}

.underlined-main:before {
  content: "";
  position: absolute;
  width: 60%;
  bottom: 5px;
  left: 20%;
  border-bottom: 4px solid #7ab55c;
}

.underlined-ph {
  display: inline-block;
  padding-bottom: 8px;
  position: relative;
  text-align: center;
}

.underlined-ph:before {
  content: "";
  position: absolute;
  width: 60%;
  bottom: 5px;
  left: 20%;
  border-bottom: 3px solid #21bbd1;
}

.down-icon {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #333;
}

.fixed-large {
  width: 280px;
  height: 350px;
}

.fixed {
  width: 280px;
  height: 230px;
}

.img-rounded {
  border-radius: 2px;
}

.padding {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 30px;
}

.footer span a {
  color: #555;
  padding-right: 10px;
  padding-left: 10px;
}

.footer-styles {
  color: #555;
  font-size: 16px;
  text-align: center;
}

.tools-used {
  margin-top: 60px;
  padding:0px 200px 0px 200px;
}

.footer-subtext {
  color: #555;
  font-size: 12px;
  padding-top: 8px;
}

.less-padding {
  padding-right: 3px;
  padding-left: 3px;
  color: #0e9c83;
}

.less-padding:hover {
  color: #0c82ba;
}

.footer span a:hover {
  color: #0e9c83;
}

.fright {
  float: right;
}

@media (min-width: 1300px) {
  .landing-page-responsive {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }
}

@media (min-width: 300px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 15px;
  }
}

.bio-text {
  padding-left: 10px;
}

ul.pro-list {
  list-style-type: none;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  padding-left: 0px;
  height: 240px;
  display: table;
  font-family: 'Lato', sans-serif;
}

ul.pro-list li {
  line-height: 1.4;
  font-size: 18px;
  padding-top: 5px;
  margin-bottom: 0px;
  display: table-row;
  color: white;
}

ul.con-list {
  list-style-type: none;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  padding-left: 0px;
  height: 240px;
  display: table;
  font-family: 'Lato', sans-serif;
}

ul.con-list li {
  line-height: 1.4;
  font-size: 18px;
  padding-top: 5px;
  margin-bottom: 40px;
  display: table-row;
  color: white;
}

/* list color for blue background of PH color: #0d4a53; */

ul.pro-list > li::before {
  content: '✔ ';
  padding-right: 10px;
  display: table-cell; /* aha! */
  text-align: right;
}

ul.con-list > li::before {
  content: '✘ ';
  padding-right: 10px;
  display: table-cell; /* aha! */
  text-align: right;
}

.row.pricing-redesign {
  /*background-color: #626476;*/
  margin-bottom: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
}

/*blue background color for PH - #bbdee4;*/

.email {
  width: 500px;
  margin-top: 10px;
}

.extra-margin {
  margin-bottom: 50px
}

.extra-margin-top {
  margin-top: 120px
}

.design-flow {
  width: 1400px;
  height: auto;
}
/*#a9abb8*/
.grad {
  background: #0f5964; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#0f5964, #79d6e3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0f5964, #79d6e3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#0f5964, #79d6e3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#0f5964, #79d6e3); /* Standard syntax */
}

.gif-background {
  /*background-color: rgba(51,122,183, .9);*/
  /*background-color: rgba(52, 49, 59, 0.9);*/
  background-color: #4479a5;
  border: none;
  padding-top: 20px;
  padding-bottom
  text-align: center;
  height: 275px;
  border-radius: 0px;
}

.case-study {
  margin-top: 50px;
}

.opacity::after {
  background-color: rgba(0,0,0, 0.9);
  width: 400px;
}

.thumb-background {
  background-color: rgba(25, 61, 91, 0.9);
  width: 480px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}

.thumb-ph-site {
  width: 370px;
  padding-top: 10px;
}

.thumb-ph-app {
  width: 330px;
  padding-top: 5px;
}

.thumb-openinvite {
  width: 274px;
  height: auto;
}

.thumb-ph-pricing {
  width: 320px;
  height: auto;
}

.thumb-heading {
  margin-top: 20px;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.thumb-blog-heading {
  color: rgba(0,0,0,0.77);
  font-size: 22px;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 1.4;
}

a.learn-more {
  color: #337ab7;
  text-decoration: none;
  font-size: 14px;
}

a.learn-more.green {
  color: #0e9c83;
}

.btn-blue {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px 20px;
  border: 2px solid #337ab7;
  color: #337ab7;
  font-size: 18px;
}

.first-action {
  margin-bottom: 10px;
}

.btn-blue:hover {
  color: white;
  background-color: #337ab7;
  border-color: #337ab7;
}

.btn-green {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px 20px;
  border: 2px solid #0e9c83;
  color: #0e9c83;
  font-size: 18px;
}

.first-action {
  margin-bottom: 10px;
}

.btn-green:hover {
  color: white;
  background-color: #0e9c83;
  border-color: #0e9c83;
}

.thumbnail > img.thumb-blog-post-image {
  width: 400px;
  height: 260px;
}

.blog-post-background {
  border: none;
  padding-top: 20px;
  text-align: center;
  border-radius: 0px;
}

.logo-image {
  width: 250px;
}

.row.background-ph-dark {
  background-color: #178292;
  margin-bottom: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.background-page-dark {
  /*background-color: #0f5964;*/
  background-color: rgba(15,89,100,0.9);
  /*background-color: #4d536f;*/
  padding: 30px 30px;
  padding-bottom: 50px;
  margin-bottom: 40px;
}

.background-page-dark h4 {
  color: white;
}

.background-page-grey {
  background-color: #555555;
  padding: 30px 30px;
  padding-bottom: 50px;
  margin-bottom: 40px;
  margin-top: 50px;
}

.main-heading.ph {
  margin-bottom: 30px;
}

.icons {
  padding-top: 15px;
  padding-bottom: 15px;
}

.icons img {
  width: 100px;
}

.landing-page-step-img {
  width: 275px;
  margin-top: 15px;
}

.white {
  color: white;
}

.length-1 {
  height: 1900px;
}

.length-2 {
  height: 850px;
}

.fixed-height {
  height: 1400px;
  width: auto;
}

.fixed-heifht-1 {
  height: 900px;
  width: auto;
  margin-top: 20px;
}

.fixed-height-2 {
  height: 500px;
  width: auto;
}

.green {
  color: #0e9c83;
}

.heading-italic {
  font-style: italic;
  font-weight: 700;
  margin-bottom: 20px;
}

.intro-text {
  margin-top: 20px;
  text-align: left;
}

.half-page-browser {
  height: 450px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.nav-center ul.nav li.active a {
  color: #0e9c83;
  display: inline-block;
  position: relative;
  text-align: center;
  padding-bottom: 5px;
  margin-top: 0px;
}

.nav-center ul.nav li a {
  float: left;
  color: #a9a9a9;
  font-size: 18px;
  background-color: white;
}

.growth-description {
  padding-top: 20px;
}

.growth-description p, li{
  font-size: 16px;
  color: #555;
}

.details-row {
  padding: 40px 20px 0px 20px;
}

.details-row p {
  font-size: 16px;
}